@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #fafafa;
  --foreground: #010712;
}

.dark {
  --background: #0f1113;
  --foreground: #d8d6d1;
}

@theme inline {
  --font-inter: var(--inter);
  --font-geist: var(--geist);
  --font-manrope: var(--manrope);
  --font-open-sans: var(--open-sans);
  --font-roboto: var(--roboto);
  --font-ibm-plex-mono: var(--ibm-plex-mono);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-border: var(--pattern-fg);
}
